*{
    box-sizing: border-box;
 }

html {
	font-family: sans-serif;
	color: black;
    margin: 0;
    padding: 0;
    font-size: 10px;
 }
header h1{
    text-align: center;
    background-color: indigo;
    padding: 1.5rem;
    color:lavender;
    font-size: 2rem;
    font-family: serif;
     
 }
body{
    background-color: lavender;
    
}

 h2,h3{
    font-family: Helvetica, sans-serif;
    padding: 20px;
    font-size: 1.6rem;
}
      
 nav{      
    overflow: hidden;
    background-color:violet;
}
   nav a{
    float: left;
    text-align: center;
    display: table-row;
    padding: 8px;
    font-size: 2rem;
    margin-right: 8rem;
   }
    

a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: indigo;
    color: white;
}

 div{
     background-color: thistle;
     padding: 10px;
     width: 70%;
     margin: 2rem auto;
     border-bottom: 1rem;  
 }
    
     
 p {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem;  
   
 }

 footer {
     background-color: indigo;
     font-size: 1.5rem;
     text-align: center;
     padding: 20px;
     color: white;

 }
 @media (min-width: 769px) {
    body{
      background-color: purple;
      
    }
  }
  @media (max-width: 768px) {
      div{
          background-color: purple;
          color: lightgray;
      }
    
    }
  
  @media (max-width: 425px) {
      nav,div {
          width: 100%;
      }
    
    
}
 

